@import "tailwindcss";
@plugin "daisyui";

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-base-300 rounded-full border-2 border-transparent bg-clip-padding;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-base-content/50;
  }
}
